<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Securitas</title>
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="chartzoge" />
</head>
<body>
    {{{body}}}
    <script type="text/javascript" src="js/libs.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
</body>
</html>
